@using PropertySearch.Models.ViewModels

@model PropertySearchViewModel
@{
    ViewData["Title"] = "PropertySearch";
}
<br/>
<div class="container">
    <form class="form-horizontal" asp-controller="Property" asp-action="Search" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="Postcode"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Postcode">
                <span asp-validation-for="Postcode" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="DistanceFromPostcode"></label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input class="form-control" asp-for="DistanceFromPostcode">
                    <div class="input-group-addon">miles</div>
                </div>
                <span asp-validation-for="DistanceFromPostcode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="MinPrice"></label>
            <div class="col-sm-4">
                <input class="form-control" asp-for="MinPrice">
            </div>
            <label class="col-sm-2 control-label" asp-for="MaxPrice"></label>
            <div class="col-sm-4">
                <input class="form-control" asp-for="MaxPrice">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" asp-for="MinBedrooms"></label>
            <div class="col-sm-4">
                <input class="form-control" asp-for="MinBedrooms">
            </div>
            <label class="col-sm-2 control-label" asp-for="MaxBedrooms"></label>
            <div class="col-sm-4">
                <input class="form-control" asp-for="MaxBedrooms">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
        </div>
    </form>
</div>

@if (Model?.Properties != null)
{
    <div class="container">
        <div class="row ">
            <div class="col-sm-6">
                <ul>
                    @foreach (var property in Model.Properties)
                    {
                        <div class="list-group">
                            <a href="#" class="list-group-item js-property-item" id="@property.Id">
                                <h4 class="list-group-item-heading">@property.Postcode</h4>
                                <p class="list-group-item-text">
                                    <ul>
                                        <li>@property.Bedrooms bedrooms</li>
                                        <li>£@property.Price</li>
                                    </ul>
                                    </p>
                            </a>
                        </div>
                    }
                </ul>
            </div>
            <div class="col-sm-6">
                <img id="js-property-image" src="" class="img-responsive"/>
            </div>
        </div>
    </div>
    
}
