@model RequirementsViewModel

<form asp-controller="Property" asp-action="Search" method="post">
    <label asp-for="Postcode"></label><input asp-for="Postcode"><span asp-validation-for="Postcode"></span>
    <label asp-for="DistanceFromPostcode"></label><input asp-for="DistanceFromPostcode">
    <label asp-for="MinPrice"></label><input asp-for="MinPrice">
    <label asp-for="MaxPrice"></label><input asp-for="MaxPrice">
    <label asp-for="MinBedrooms"></label><input asp-for="MinBedrooms">
    <label asp-for="MaxBedrooms"></label><input asp-for="MaxBedrooms">
    <button type="submit">Search</button>
</form>


@if (Model?.Properties != null)
{
    <ul>
    @foreach (var property in Model.Properties)
    {
        <li><span>@property.Bedrooms bedrooms</span></li>
    }
    </ul>
}
